root = true

[*]
charset = utf-8
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*{.yml,yaml}]
indent_style = space
indent_size = 2

[*.{kt,kts}]
max_line_length = 120
ktlint_standard_backing-property-naming = disabled
ktlint_standard_function-naming = disabled

[**/generated/**]
ktlint = disabled
